@use './variables';
@use 'sass:color';

.read-more-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: variables.$primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: color.adjust(variables.$primary-color, $lightness: -10%);
    transform: scale(1.05);
  }
}