@use './variables';

/* Dynamic Greeting Styling */
#dynamicGreeting {
  font-family: variables.$font-heading; /* Creative font */
  color: variables.$text-white; /* Electric blue color */
  font-size: variables.$dynamic-greeting-font-size; /* Adjust font size */
  font-weight: bold; /* Make it stand out */
  margin: 0 auto; /* Center the element */
  letter-spacing: variables.$dynamic-greeting-letter-spacing; /* Add spacing between letters */
  text-shadow: variables.$dynamic-greeting-text-shadow; /* Neon glow effect */
  text-align: center;
  padding: 10px;
  background-color: transparent; // Semi-transparent dark background for contrast
  border-radius: variables.$radius-small; /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#dynamicGreeting:hover {
  transform: variables.$hover-effect-transform; /* Slight lift on hover */
  text-shadow: 0 0 4px rgba(120, 120, 120, 0.8), 0 0 20px rgba(200, 200, 200, 0.6); // Slightly brighter gray glow on hover;
  box-shadow: variables.$box-shadow-heavy;
}

a {
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: none; /* Ensure no underline on hover */
}