@use './variables';

.iframe-container {
  position: relative !important;
  width: 100% !important; /* Full width of the parent container */
  padding-bottom: 56.25% !important; /* 16:9 Aspect Ratio */
  height: 0 !important; /* Reset height */
  overflow: hidden !important; /* Prevent overflow issues */
  border-radius: variables.$radius-large !important; /* Optional: Rounded corners */
  box-sizing: border-box;
  box-shadow: variables.$box-shadow-medium !important; /* Optional: Add a shadow */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Remove the default iframe border */
  border-radius: variables.$radius-large; /* Apply rounded corners to the iframe */
}

/* Featured Image Styling */
.featured-image {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: variables.$radius-medium;
  margin-bottom: 20px;
  box-shadow: variables.$box-shadow-light; /* Add a light shadow for depth */
}