// Color Variables
$background-color: rgba(0, 0, 0, 0.6);
$primary-color: #00d4ff;
$secondary-color: #e76f51;
$font-family-base: 'Lora', serif;
$font-family-heading: 'Bebas Neue', sans-serif;

// Box Shadows
$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.3);
$box-shadow-heavy: 0 8px 16px rgba(255, 255, 255, 0.4);
